#root {

    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

    overflow-x: hidden;
}



.exercise-display {

    display: flex;
    flex-wrap: wrap;
    
/* 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); */

    justify-content: center;

    margin: auto;
    width: min(100%, 1500px);
    min-height: 300px;

    gap: 30px;

}


.exercise-card {


    min-height: 100px;
    min-width: 0;


    max-width: 232px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* animation: reveal-card .3s ease-in-out; */

    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(2px);

    border: #054d35 2px solid;

    flex: 1 1 250px;

    box-shadow: rgba(0, 0, 0, 0.089) 5px 5px 10px;

}

.exercise-card h2 {

    margin: auto;
}

.lock-button {

    background-color: transparent;
    aspect-ratio: 1;

}


.exercise-card .lock-button:focus {

    outline: none;
    border: 2px #054d35 solid;
}



.lock-button:hover {

    background-color: #10b98165;
}

/* 
@media (max-width: 850px) {


    .exercise-display {

        flex-direction: column;
    }

    .exercise-card {

        flex-direction: row;
        justify-content: space-between;
    }
} */



@keyframes reveal-card {

    from {

        opacity: 0;
        transform: translateY(100px);
    }

    to {

        opacity: 1;
        transform: translateY(0);
    }
}


.options {

    display: flex;
    flex-direction: row;
    justify-content: center;

    flex-wrap: wrap;

    gap: 10px;
    margin: 30px 50px;
}

.selectable-button {

    border: 2px solid #10B981;
    background-color: rgba(255, 255, 255, 0.233);

    backdrop-filter: blur(2px);


    transition: transform .1s ease-in-out;
}


.selectable-button:hover {

    background-color: #10b9815e;
    transform: translateY(-5px);
}

.selectable-button.selected {

    color: white;
    background-color: #10B981;

}

.selectable-button.selected:hover {

    border: 2px solid #054d35;

}

.selectable-button:focus {

    outline: none;
    transform: translateY(-5px);
}

.generate-button {
    margin: 30px 0;

    font-size: 1.4em;

    color: white;
    background-color: #10b981bd;
    backdrop-filter: blur(2px);

    transition: transform .2s ease-in-out;
}

.generate-button:hover {

    transform: scale(1.1);
}

.generate-button:active {

    transform: scale(.9);
    transition: transform 0.05s linear;
}